<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Tóth István fotó -s vagyok fotózás -sal foglalkozom Biatorbágy térségében . Tájékozódhat akcióinkról árainkról. Biatorbágy fotózás témakörben">
    <meta name="keywords" content="fotó, fotózás, fotózás, webfejlesztés, webdesign">
    <meta name="author" content="Tóth István">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    
        <meta property="og:site_name" content="Biafoto - Keretbe foglaljuk a pillanatokat">
		<meta property="og:type" content="article">
		<meta property="og:title" content="Főoldal - Biafoto Fotó, fotózás, Biatorbágy térségében Biatorbágy Fotózás .">
		<meta property="og:description" content="Tóth István fotó -s vagyok fotózás -sal foglalkozom Biatorbágy térségében . Tájékozódhat akcióinkról árainkról. Biatorbágy fotózás témakörben">
		<meta property="og:url" content="https://biafoto.hu/">
		<meta property="article:published_time" content="2021-03-10T13:45:32Z">
		<meta property="article:modified_time" content="2022-01-03T21:37:34Z">
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="biafoto.hu">
		<meta property="twitter:title" content="Főoldal - Biafoto Fotó, fotózás, Biatorbágy térségében Biatorbágy Fotózás .">
		<meta property="twitter:description" content="Tóth István fotó -s vagyok fotózás -sal foglalkozom Biatorbágy térségében . Tájékozódhat akcióinkról árainkról. Biatorbágy fotózás témakörben">
    

    <title>Biafoto - Weboldal készítés</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
    <!-- MDB -->
    <link rel="stylesheet" href="css/mdb.min.css" />
    <!-- Custom styles -->
    <link rel="stylesheet" href="css/style.css" />
     <link rel="stylesheet" href="css/dashicons.min.css" />
     <link rel="stylesheet" href="css/style.min.css" />
    
   
</head>
<body>
      <!--Main Navigation-->
  <header>

	 <!-- Fejléc --> 
  <div class="fejlec">
		<span class="telefonszam">Telefonszám : +36202239149</span>
	    <a href="mailto:biafoto.hu@gmail.com">  <span class="email_cim">Email cím: biafoto.hu@gmail.com</span></a>
	  
</div>		  
		  
		  
	<div class="sor">
	<div class="kepDiv">
		<span class="logo_helper"></span>
		<a href="/">
			<img src="img/logo5.png" alt="Biafoto" id="logo" class="kep">
		</a>
	</div>
    </div>
	
	

    <!-- Navbar -->
<!--	<nav class="navbar navbar-expand-lg  "> -->

	<div id='linknavbar'>
	<!--<div class="container-fluid  style="max-width:800px"> -->
	
		<ul id='linknav'>
			<li class="gomb1"><a href="fotozas" aria-current="page">FOTÓZÁS</a></li>
			<li class="gomb1"><a href="portfolio">PORTFÓLIÓ</a></li>
			<li class="gomb1"><a href="buildweb">WEBOLDAL KÉSZÍTÉS</a></li>
			<li class="gomb1"><a href="prices">ÁRAK</a></li>
			<li class="gomb1"><a href="blog">BLOG</a></li>
			<li class="gomb1"><a href="kapcsolat">KAPCSOLAT</a></li>
			<li class="gomb1"><a href="reservation">IDŐPONT FOGLALÁS</a></li>
			<li class="gomb1"><a href="login">OVI/ISKOLA FOTÓK MEGRENDELÉS</a></li>
		</ul>

     </div>
<br>
    <!-- Carousel wrapper -->
    
    
    <div class="et_pb_section et_pb_section_4 et_pb_fullwidth_section et_section_regular">
    <section class="et_pb_module et_pb_fullwidth_header et_pb_fullwidth_header_1 et_animated et_pb_section_video et_pb_preload  et_pb_css_mix_blend_mode et_pb_text_align_center et_pb_bg_layout_dark et_pb_fullscreen">
				
				<span class="et_pb_section_video_bg  ">
					
			<video loop="loop" autoplay playsinline muted>
				<source type="video/mp4" src="video/video.mp4">
				
			</video>
				</span>
				<div class="et_pb_fullwidth_header_container center">
					<div class="header-content-container center">
					<div class="header-content">
						
						<h1 class="et_pb_module_header">WEBOLDAL KÉSZÍTÉST VÁLLALUNK</h1>
						<span class="et_pb_fullwidth_header_subhead">Nincs időd a weboldal készítésre? Bízd csak ránk!</span>
						<div class="et_pb_header_content_wrapper">
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>
						<a class="et_pb_button et_pb_more_button et_pb_button_one">Lépj kapcsolatba velünk</a>
					</div>
				</div>
					
				</div>
				<div class="et_pb_fullwidth_header_overlay"></div>
				<div class="et_pb_fullwidth_header_scroll"><a href="#" class="scroll-down-container">
					<span class="scroll-down et-pb-icon">&#x22;</span>
					
					
				</a></div>
			</section>
			
			</div>
			
			
			
			
			
    <!-- Carousel wrapper -->
  </header>
  <!--Main Navigation-->

  <!--Main layout-->
  <main class="mt-5">
    <div class="container">
      <!--Section: Content-->
      <section>
        <div class="row">
          <div class="col-md-6 gx-5 mb-4">
            <div class="bg-image hover-overlay ripple shadow-2-strong" data-mdb-ripple-color="light">
              <img src="img/foto13.jpg" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
          </div>

          <div class="col-md-6 gx-5 mb-4">
            <h4><strong>PORTRÉ FOTÓ KÉSZÍTÉSE</strong></h4>
			<h4><strong>MIRE SZÁMÍTHATSZ, HA ENGEM BÍZOL MEG A PORTRÉK ELKÉSZÍTÉSÉVEL?</strong></h4>
			
            <p class="text-muted">
             A portré fotózás alkalmával igyekszem a legtöbbet kihozni belőled, és ezeket visszaadni a képeken is.
Az évek alatt megtanultam azt, hogy milyen pózok amik jól állnak neked portré fotózás közben.
Nálam a portré fotózás általában vidáman telik, szeretem megmutatni a modell igazi arcát.
A portré fotózás helyszíne lehet: stúdió különböző világításokkal, viszont ha a természetes fényt szereted,
akkor akár kint is készíthetek rólad portré fotókat.
Az elkészült képek úgyis önmagukért beszélnek, az eredménnyel meg leszel elégedve.
Ha felkeltettem az érdeklődésedet, akkor keress bátran portré fotózás ügyben !
           </p>
          </div>
        </div>
      </section>
      <!--Section: 1  Content-->

      <hr class="my-5" />

      <!--Section: Content-->
      <section class="text-center">
        <h4 class="mb-5"><strong>Szolgáltatások</strong></h4>

        <div class="row">
          <div class="col-lg-4 col-md-12 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="img/foto11.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">PORTRÉ FOTÓ KÉSZÍTÉS</h5>
                <p class="card-text">
                  Meguntad a homályos facebook  profilképeket? Itt az ideje lecserélni egy profi stúdiós képre. Ha szükséged van egy jó képre önéletrajzodhoz, cégednek profi bemutatkozáshoz, nézd meg a portréfotóimat , keress vagy foglalj időpontot.
                </p>
                <a href="#!" class="btn btn-primary">Viktória reflektor fényben</a>
              </div>
            </div>
          </div>
<!--házasság -->
 <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="img/foto14.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">HÁZASSÁGKÖTÉS FOTÓZÁS</h5>
                <p class="card-text">
                 Esküvői fotózás
                 Keresztelő, névadó
                 Szalagavató, ballagás
                 Családi események
                </p>
                <br><br><br>
                <a href="reservation" class="btn btn-primary">Eskövő időpont foglalás</a>
              </div>
            </div>
          </div>

         <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="img/foto12.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">CSALÁDI FOTÓZÁS</h5>
                <p class="card-text">
                  Családi fotózás jó hangulatban. Otthonodban vagy a szabadban 
                </p>
                <br><br><br>
                <a href="reservation" class="btn btn-primary">Időpont foglalás</a>
              </div>
            </div>
          </div> 
        </div>
      </section>
      <!--Section: 2 Content-->
	  
	  
	     <!--Section: Content-->
      <section class="text-center">
       

        <div class="row" >
          <div class="col-lg-12 col-md-8 mb-6">
            <div class="card" >
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="img/foto10.jpg" class="img-fluid" style="max-width:600px" align="center" />
                <a href="">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">DIVAT FOTÓ KÉSZÍTÉS</h5>
                <p class="card-text">
                 A divat fotózásnál fontos a fotós személye és szaktudása az a tényező, amin eldőlhet a fotózás sikere. Az alapvető hangulatot a fotós adja meg a fényekkel, a perspektívákkal és a plánokkal, éppen ezért érdemes hivatásos, profi divatfotóst választani, aki rendelkezik megfelelő tapasztalattal, felszereléssel, rutinnal és kreativitással.
                </p>
                <a href="" class="btn btn-primary">Dóri reflektor fényben</a>
              </div>
            </div>
          </div>
		  </div>
<!--gyerek studio -->
</section>
	  



<section class="text-center">
<div class="row " >
          <div class="col-lg-6 col-md-8 mb-6">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="img/foto09.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">GYERMEK STÚDIÓ FOTÓZÁS</h5>
                <p class="card-text">
                  Profi képek készítése csemetédről  stúdióban, ahogy eddig még soha. Óvodai iskolai fotók készítése. High key és low key tűéles képek letisztult hátterek.
                </p>
                <a href="#!" class="btn btn-primary">Hanna reflektor fényben</a>
              </div>
            </div>
          </div>

         

         <div class="col-lg-6 col-md-6 mb-6">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="img/foto15.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">ESEMÉNY FOTÓZÁS</h5>
                <p class="card-text">
                 Események , Rendezvények Fotózása<br><br>
                </p>
                <a href="#!" class="btn btn-primary">Henrix Farm Fotózás</a>
              </div>
            </div>
          </div> 
        </div>
      </section>
	  

      <hr class="my-5" />

      <!--Section: Content-->
      <section class="mb-5">
        <h4 class="mb-5 text-center"><strong>Iratkozz fel hírlevelemre !  </strong></h4>

        <div class="row d-flex justify-content-center">
          <div class="col-md-6">
            <form action="#" th:action="@{/feldolg_subscribe}"  th:object="${subscribe}"  method="post">
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    <input type="text" id="form3Example1" class="form-control" th:field="*{firstname}"/>
                    <label class="form-label" for="form3Example1">Keresztnév</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input type="text" id="form3Example2" class="form-control" th:field="*{lastname}" />
                    <label class="form-label" for="form3Example2">Vezetéknév</label>
                  </div>
                </div>
              </div>

              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" id="form3Example3" class="form-control" th:field="*{email}" />
                <label class="form-label" for="form3Example3">Email cím</label>
              </div>

              <!-- Checkbox -->
              <div class="form-check d-flex justify-content-center mb-4">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" checked />
                <label class="form-check-label" for="form2Example3">
                  Subscribe to our newsletter
                </label>
              </div>

              <!-- Submit button -->
              <button type="submit"  value="Submit" class="btn btn-primary btn-block mb-4">
                Elküldés
              </button>

              <!-- Register buttons -->
              <div class="text-center">
                <p></p>
                <a href="https://www.facebook.com/Biafot%C3%B3-102646818593536" class="btn btn-primary m-1" role="button" rel="nofollow"
				target="_blank">
				<i class="fab fa-facebook-f"></i>
			</a>
              </div>
            </form>
          </div>
        </div>
      </section>
      <!--Section: Content-->
    </div>
  </main>
  <!--Main layout-->

  <!--Footer-->
  <footer class="bg-light text-lg-start">
    <div class="py-4 text-center">
      <a role="button" class="btn btn-primary btn-lg m-2"
        href="kapcsolat" rel="nofollow" target="_blank">
        Kapcsolat felvétel
      </a>
      <a role="button" class="btn btn-primary btn-lg m-2" href="reservation" target="_blank">
        Időpontfoglalás
      </a>
    </div>

    <hr class="m-0" />

<div class="text-center py-4 align-items-center">
			<p>Kövesse a Biafoto-t a facebookon </p>
			<a href="" class="btn btn-primary m-1" role="button"
				rel="nofollow" target="_blank">
				<i class="fab fa-youtube"></i>
				
			</a>
			<a href="https://www.facebook.com/Biafot%C3%B3-102646818593536" class="btn btn-primary m-1" role="button" rel="nofollow"
				target="_blank">
				<i class="fab fa-facebook-f"></i>
			</a>
			<a href="" class="btn btn-primary m-1" role="button" rel="nofollow"
				target="_blank">
				<i class="fab fa-twitter"></i>
			</a>
			<a href="" class="btn btn-primary m-1" role="button" rel="nofollow"
				target="_blank">
				<i class="fab fa-github"></i>
			</a>
		</div>

   <!-- Copyright -->
		<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
			© 2021 Created by Tóth István:
			<a class="text-dark" href="https://www.biafoto.hu/">Biafoto.hu</a>
		</div>
		<!-- Copyright -->
  </footer>
  <!--Footer-->
    <!-- MDB -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <!-- Custom scripts -->
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>