<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
	<!-- Metaadatok -->
	<meta charset="UTF-8" />
	<meta name="description"
		content="Tóth István fotó -s vagyok fotózás -sal foglalkozom Biatorbágy térségében . Tájékozódhat akcióinkról árainkról. Biatorbágy fotózás témakörben">
	<meta name="keywords" content="fotó, fotózás, Biatorbágy, Biatorbágy fotózás, webfejlesztés, webdesign">
	<meta name="author" content="Tóth István">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta property="og:site_name" content="Biafoto - Keretbe foglaljuk a pillanatokat">
	<meta property="og:type" content="article">
	<meta property="og:title" content="Főoldal - Biafoto Fotó, fotózás, Biatorbágy térségében Biatorbágy Fotózás .">
	<meta property="og:description"
		content="Tóth István fotó -s vagyok fotózás -sal foglalkozom Biatorbágy térségében . Tájékozódhat akcióinkról árainkról. Biatorbágy fotózás témakörben">
	<meta property="og:url" content="https://biafoto.hu/">
	<meta property="article:published_time" content="2021-03-10T13:45:32Z">
	<meta property="article:modified_time" content="2022-01-03T21:37:34Z">
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:domain" content="biafoto.hu">
	<meta property="twitter:title"
		content="Főoldal - Biafoto Fotó, fotózás, Biatorbágy térségében Biatorbágy Fotózás .">
	<meta property="twitter:description"
		content="Tóth István fotó -s vagyok fotózás -sal foglalkozom Biatorbágy térségében . Tájékozódhat akcióinkról árainkról. Biatorbágy fotózás témakörben">
	<!-- Cim -->
	<title>Bejelentkezés</title>
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
	<!-- Google Fonts Roboto -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
	<!-- MDB -->
	<link rel="stylesheet" href="css/mdb.min.css" />
	<link rel="stylesheet" href="css/kapcsolat.css" />
	<link rel="stylesheet" href="css/buildweb2.css" />
	<!--type="text/css" media="screen"-->


</head>

<body>
	<header>


		<div class="row">
			<div class="col-lg-12 col-md-8 mb-6">
				<!-- Fejléc -->
				<div class="fejlec">
					<span class="telefonszam">+36202239149</span>
					<a href="mailto:biafoto.hu@gmail.com"> <span class="email_cim">biafoto.hu@gmail.com 
					<span class="telefonszam">Fotók megrendelése belépési felület</span>
					<span class="telefonszam">Adatbázis művelet</span>
				</div>
			</div>
		</div>



		<!-- Fejléc -->
		<div class="row">
			<div class="col-lg-12 col-md-8 mb-6">
				<!-- Logo -->
				<div class="img-container">

					<img src="img/logo6.png" alt="Biafoto" id="logokep">

				</div>

			</div>
		</div>





		<nav>
			<div class="row">
				<div class="col-lg-12 col-md-8 mb-6">
					<div class="navbar clear">
						<div class="menu">
							<ul>
								<li> <a href="https://www.biafoto.hu/fotozas-2"> FOTÓZÁS </a> </li>
								<li> <a href="https://www.biafoto.hu/weboldal-keszites/">WEBOLDAL KÉSZÍTÉS</a></li>
								<li> <a href="https://www.biafoto.hu/arak/">ÁRAK</a></li>
								<li> <a href="https://www.biafoto.hu/blog_1/">BLOG</a></li>
								<li> <a href="http://46.41.139.177:8087/kapcsolat">KAPCSOLAT</a></li>
								<li> <a href="http://46.41.139.177:8087/reservation">IDŐPONT FOGLALÁS</a></li>
							    <li> <a href="http://46.41.139.177:8087/login">OVI/ISKOLA FOTÓK-MEGRENDELÉSE</a></li>

							</ul>
						</div>
					</div>


				</div>
			</div>
		</nav>




	</header>
	<!--Main Navigation-->


	<!-- Navbar -->
	<!-- Navbar -->


	<!--Main layout-->
	<main class="mt-5">
		<div class="form-input" style="text-align:center" >
							<form action="#" th:action="@{/auth_feldolg}"  th:object="${loginobj}"  method="post">

								<p>Csoport Azonosító: <input type="text" th:field="*{csoport}" /> </p>
								<p>Jelszó: <input type="password" th:field="*{password}" /> </p>
								
								<p><input type="submit" value="Submit" />

							</form>
    
    
    
      
	  
    </div> <!-- container -->
  </main>
	<!--Main layout-->
	<!--Main layout-->



	<!--Footer-->
	<footer class="bg-light text-lg-start">
		<div class="py-4 text-center">
			<a role="button" class="btn btn-primary btn-lg m-2" href="kapcsolat" rel="nofollow" target="_blank">
				Kapcsolat felvétel
			</a>
			<a role="button" class="btn btn-primary btn-lg m-2" href="reservation" target="_blank">
				Időpontfoglalás
			</a>
		</div>

		<hr class="m-0" />

		<div class="text-center py-4 align-items-center">
			<p>Kövesse a Biafoto-t a facebookon </p>
			<a href="" class="btn btn-primary m-1" role="button" rel="nofollow" target="_blank">
				<i class="fab fa-youtube"></i>

			</a>
			<a href="https://www.facebook.com/Biafot%C3%B3-102646818593536" class="btn btn-primary m-1" role="button"
				rel="nofollow" target="_blank">
				<i class="fab fa-facebook-f"></i>
			</a>
			<a href="" class="btn btn-primary m-1" role="button" rel="nofollow" target="_blank">
				<i class="fab fa-twitter"></i>
			</a>
			<a href="" class="btn btn-primary m-1" role="button" rel="nofollow" target="_blank">
				<i class="fab fa-github"></i>
			</a>
		</div>

		<!-- Copyright -->
		<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
			© 2021 Created by Tóth István:
			<a class="text-dark" href="https://www.biafoto.hu/">Biafoto.hu</a>
		</div>
		<!-- Copyright -->
	</footer>
	<!--Footer-->
	<!-- MDB -->

</body>

</html>