
      /* Carousel styling */
      #introCarousel,
      .carousel-inner,
      .carousel-item,
      .carousel-item.active {
        height: 100vh;
      }

      .carousel-item:nth-child(1) {
        background-image: url('img/foto04.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }

      .carousel-item:nth-child(2) {
        background-image: url('img/foto02.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }

      .carousel-item:nth-child(3) {
        background-image: url('img/foto03.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }
	  .carousel-item:nth-child(4) {
        background-image: url('img/foto05.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }
	  
	  .carousel-item:nth-child(5) {
        background-image: url('img/foto06.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }
	  .carousel-item:nth-child(6) {
        background-image: url('img/foto01.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }
	   .carousel-item:nth-child(7) {
        background-image: url('img/foto07.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }
	  
	  .carousel-item:nth-child(8) {
        background-image: url('img/foto08.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }
	  

      /* Height for devices larger than 576px */
      @media (min-width: 992px) {
        #introCarousel {
          margin-top: -58.59px;
        }
      }

      .navbar .nav-link {
        color: #fff !important;
      }
